<form #routeForm="ngForm" novalidate>
  <ng-container [ngSwitch]="routeCardStatus" *ngIf="routeItem">

    <!-- Заголовок -->
    <h5 class="card-title">
      <ng-container *ngSwitchCase="RouteCardStatus.None">
        {{ routeItem.title }}
      </ng-container>

      <ng-container *ngSwitchCase="RouteCardStatus.Editing">
        <input
          [(ngModel)]="routeItem.title"
          name="title"
          required
          class="form-control heading-input"
          #title="ngModel"
          [class.is-invalid]="(title.touched || formSubmitted) && title.invalid"
        >
        <div *ngIf="(title.touched || formSubmitted) && title.invalid" class="invalid-feedback">
          Название обязательно.
        </div>
      </ng-container>
    </h5>

    <!-- Описание -->
    <h6 class="card-subtitle">Описание маршрута</h6>
    <ng-container *ngSwitchCase="RouteCardStatus.None">
      <p class="card-text">{{ routeItem.description }}</p>
    </ng-container>
    <ng-container *ngSwitchCase="RouteCardStatus.Editing">
      <textarea
        [(ngModel)]="routeItem.description"
        name="description"
        maxlength="500"
        class="form-control"
        rows="3"
      ></textarea>
    </ng-container>

    <!-- Макс. количество людей -->
    <h6 class="mt-3">Максимальное количество человек</h6>
    <ng-container *ngSwitchCase="RouteCardStatus.None">
      <p>{{ routeItem.maxCountPeople ?? 'не указано' }}</p>
    </ng-container>
    <ng-container *ngSwitchCase="RouteCardStatus.Editing">
      <input
        type="number"
        class="form-control"
        [(ngModel)]="routeItem.maxCountPeople"
        name="maxCountPeople"
        min="1"
        required
        #maxCountPeople="ngModel"
        [class.is-invalid]="(maxCountPeople.touched || formSubmitted) && maxCountPeople.invalid"
      >
      <div *ngIf="(maxCountPeople.touched || formSubmitted) && maxCountPeople.invalid" class="invalid-feedback">
        Укажите число от 1 и выше.
      </div>
    </ng-container>

    <!-- Базовая стоимость -->
    <h6 class="mt-3">Базовая стоимость</h6>
    <ng-container *ngSwitchCase="RouteCardStatus.None">
      <p>{{ routeItem.baseCost !== null ? (routeItem.baseCost | currency:'RUB') : 'не указано' }}</p>
    </ng-container>
    <ng-container *ngSwitchCase="RouteCardStatus.Editing">
      <input
        type="number"
        class="form-control"
        [(ngModel)]="routeItem.baseCost"
        name="baseCost"
        min="0"
        step="0.01"
        required
        #baseCost="ngModel"
        [class.is-invalid]="(baseCost.touched || formSubmitted) && baseCost.invalid"
      >
      <div *ngIf="(baseCost.touched || formSubmitted) && baseCost.invalid" class="invalid-feedback">
        Укажите стоимость маршрута (0 или больше).
      </div>
    </ng-container>

    <!-- Скрыть маршрут -->
    <h6 class="mt-3">Скрыть маршрут</h6>
    <ng-container *ngSwitchCase="RouteCardStatus.None">
      <p>{{ routeItem.isHidden ? 'Да' : 'Нет' }}</p>
    </ng-container>
    <ng-container *ngSwitchCase="RouteCardStatus.Editing">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="routeItem.isHidden"
          name="isHidden"
          id="isHiddenSwitch"
        >
        <label class="form-check-label" for="isHiddenSwitch">Скрыть маршрут</label>
      </div>
    </ng-container>

  </ng-container>

  <ng-container *ngIf="!routeItem">
    <h5 class="card-title">Не удалось найти информацию о маршруте</h5>
  </ng-container>
</form>
