/* Стиль для заголовка */
.custom-heading {
  font-size: 2rem; /* Увеличиваем размер шрифта */
  font-weight: 700; /* Делаем шрифт жирным */
  color: #343a40; /* Цвет темного текста */
  text-transform: uppercase; /* Делаем текст заглавными буквами */
  letter-spacing: 2px; /* Немного увеличиваем межбуквенный интервал для добавления воздуха */
  margin-bottom: 1.5rem; /* Добавляем больше отступа снизу */
  text-align: center; /* Центрируем текст */
  font-family: 'Roboto', sans-serif; /* Используем современный шрифт */
}
