# Node modules
/node_modules/

# Angular build output
/dist/
/out-tsc/

# IDE and editor folders
/.idea/
/.vscode/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# TypeScript compiled files
*.tsbuildinfo

# Temporary files
*.swp
*.swo
.angular/