<div class="container my-5">
  <h4 class="mb-4">Подписчики маршрута</h4>

  <div class="table-responsive">
    <table class="table table-bordered table-striped align-middle">
      <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Email</th>
        <th scope="col">Дата подписки</th>
        <th scope="col">Статус</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Алексей Иванов</td>
        <td>alexeymail.ru</td>
        <td>15.04.2025</td>
        <td><span class="badge bg-success">Подтверждено</span></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Мария Смирнова</td>
        <td>maria.smirnovagmail.com</td>
        <td>16.04.2025</td>
        <td><span class="badge bg-warning text-dark">Ожидание</span></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Игорь Козлов</td>
        <td>igor.kozlovexample.com</td>
        <td>18.04.2025</td>
        <td><span class="badge bg-secondary">Отменено</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
