<div class="container-fluid mt-4">
  <div class="row">
    <!-- Меню слева -->
    <div class="col-md-2">
      <div class="list-group">
        <a routerLink="/admin/routes" class="list-group-item list-group-item-action">Маршруты</a>
        <a routerLink="/admin/categories" class="list-group-item list-group-item-action">Категории</a>
      </div>
    </div>

    <!-- Таблицы справа -->
    <div class="col-md-10">
      <!-- Первая таблица -->
      <div class="card mb-4">
        <div class="card-header">
          Маршруты, которые ожидают записи
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Название маршрута</th>
              <th>Дата начала</th>
              <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instance of pendingRoutesExamples; let i = index" (click)="goToRoute(instance.route.id)">
              <td>{{ i + 1 }}</td>
              <td>{{ instance.route.title }}</td>
              <td>{{ instance.startDateTime | date: 'dd.MM.yyyy HH:mm' }}</td>
              <td>{{ getStatusDescription(instance.status) }}</td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-end">
            <app-paggination [itemsPerPage]="10" [totalPages]="10"></app-paggination>
          </div>
        </div>
      </div>

      <!-- Вторая таблица -->
      <div class="card">
        <div class="card-header">
          Маршруты с необработанными записями
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Название маршрута</th>
              <th>Дата начала</th>
              <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instance of pendingRoutesExamplesByUser; let i = index" (click)="goToRouteExample(instance.route.id, instance.id)">
              <td>{{ i + 1 }}</td>
              <td>{{ instance.route.title }}</td>
              <td>{{ instance.startDateTime | date: 'dd.MM.yyyy HH:mm' }}</td>
              <td>{{ getStatusDescription(instance.status) }}</td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-end">
            <app-paggination [itemsPerPage]="10" [totalPages]="10"></app-paggination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
