<div class="d-flex flex-row">
  <div class="position-relative me-2" (click)="closeDropdown($event)">
    <button
      class="btn border rounded-pill py-1 px-3 d-flex align-items-center gap-2 shadow-sm d-lg-none position-relative"
      (click)="toggleMenuDropdown($event)"
    >
      {{ currentItem?.label }}
      <i class="bi bi-list fs-5 text-dark"></i>
    </button>

    <!-- Выпадающее меню для мобильной версии -->
    <div
      class="dropdown-menu dropdown-menu-end mt-2 shadow"
      *ngIf="isMenuOpen"
      style="display: block; position: absolute; right: 0;"
    >
      <ng-container *ngFor="let item of items">
        <a routerLink="{{item.link}}" class="dropdown-item" (click)="closeDropdown($event)">{{item.label}}</a>
        <hr class="dropdown-divider"/>
      </ng-container>
    </div>
  </div>

  <div class="position-relative" (click)="closeDropdown($event)">
    <button
      class="btn btn-sm btn-light rounded-circle d-flex align-items-center justify-content-center"
      (click)="toggleProfileMenuDropdown($event)"
    >
      <i class="bi bi-person-fill text-secondary fs-5"></i>
    </button>

    <!-- Выпадающее меню для мобильной версии -->
    <div
      class="dropdown-menu dropdown-menu-end mt-2 shadow"
      *ngIf="isProfileMenuOpen"
      style="display: block; position: absolute; right: 0;"
    >
      <ng-container *ngIf="authService.isAuthenticated()">
        <a routerLink="/profile" class="dropdown-item">Профиль</a>
        <hr class="dropdown-divider"/>
        <a class="dropdown-item" (click)="logoutHandler()">Выйти</a>
      </ng-container>

      <ng-container *ngIf="!authService.isAuthenticated()">
        <a routerLink="/login" class="dropdown-item">Войти</a>
        <hr class="dropdown-divider"/>
        <a routerLink="/registration" class="dropdown-item">Зарегистрироваться</a>
      </ng-container>
    </div>
  </div>

</div>
