<div class="container d-flex flex-row mt-2" *ngIf="routeItem != null">
  <div class="container container-sm d-flex flex-column " style="max-width: 400px">
    <div class="map-container ratio-1x1 mb-3">
      <app-map class="map"></app-map>
    </div>
    <button class="btn btn-primary" (click)="goToRouteMap()" [disabled]="isCreate">Изменить маршрут</button>
  </div>
  <div class="container container-lg d-flex flex-column">
    <div class="card mb-3">
      <app-default-navigation-card-header [activeTabIndex]="0"
                                          [navigationItems]="navigationItems"
                                          (onInitialized)="handleHeaderOnInitialized($event)"
                                          (onTabClick)="handleChangeCardBody($event)"></app-default-navigation-card-header>
      <div class="card-body" [ngSwitch]="currentNavigationBarStatus">
        <app-route-card-body *ngSwitchCase="AboutRouteNavigationBarStatus.Route"
                             [routeItem]="routeItem"
                             [routeCardStatus]="routeCardStatus"
                             (routeCardStatusChange)="routeCardStatus = $event"></app-route-card-body>
        <app-categories-card-body
          *ngSwitchCase="AboutRouteNavigationBarStatus.RouteCategories" [(routeCategories)]="routeCategories" [(allCategories)]="allCategories" [(routeCardStatus)]="routeCardStatus"></app-categories-card-body>
        <app-upload-image-card-body [attachment]="routeItem?.attachment || null" [(routeCardStatus)]="routeCardStatus" (fileSelected)="onFileSelected($event)" *ngSwitchCase="AboutRouteNavigationBarStatus.RouteAttachment"></app-upload-image-card-body>
      </div>
      <div [ngSwitch]="routeCardStatus" class="card-footer">
        <button *ngSwitchCase="RouteCardStatus.None" class="btn btn-primary" (click)="ToggleEditRouteCard()">Изменить
        </button>
        <button *ngSwitchCase="RouteCardStatus.Editing" class="btn btn-primary" (click)="ToggleEditRouteCard()">
          Сохранить
        </button>
      </div>
    </div>

    <app-route-examples-table [routeId]="routeId"></app-route-examples-table>
  </div>

</div>
