<div class="container p-0">
  <!-- Главная картинка маршрута -->
  <div class="position-relative text-center mb-4">
    <h2 class="fw-bold">{{ routeItem?.title }}</h2>
    <p class="lead" style="font-size: 1.25rem; text-align: left;">{{ routeItem?.description }}</p>
    <img
      [src]="getImageUrl(routeItem?.attachment?.uri || null)"
      alt="Изображение маршрута"
      class="nfo-box p-0 bg-white rounded-4 shadow-sm border w-100"
      style="max-height: 400px; object-fit: cover; image-rendering: auto;"
    />
  </div>

  <div class="row my-4 align-items-stretch">
    <div class="col-md-6">
      <div class="info-box p-4 bg-white rounded-4 shadow-sm border h-100 d-flex flex-column justify-content-between">
        <div>
          <ng-container *ngIf="routeItem as route; else noRoute">
            <h5 class="fw-bold mb-1">Информация о маршруте</h5>

            <div class="d-flex justify-content-between mb-2">
              <span class="text-muted">Цена:</span>
              <span class="fw-semibold text-primary">{{ route.baseCost }} ₽</span>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <span class="text-muted">Всего мест:</span>
              <span class="fw-semibold">{{ route.maxCountPeople }}</span>
            </div>

            <ng-container *ngIf="viewRouteExampleItem as example">
              <div class="d-flex justify-content-between  mb-2">
                <span class="text-muted">Осталось мест:</span>
                <span class="fw-semibold text-success">{{ remainingSeats }}</span>
              </div>

              <div class="d-flex justify-content-between  mb-2">
                <span class="text-muted">Дата начала:</span>
                <span class="fw-semibold">{{ viewRouteExampleItem.startDateTime | date:'dd.MM.yyyy HH:mm' }}</span>
              </div>

              <div class="d-flex justify-content-between  mb-2">
                <span class="text-muted">Дата конца:</span>
                <span class="fw-semibold">{{ viewRouteExampleItem.endDateTime | date:'dd.MM.yyyy HH:mm' }}</span>
              </div>
            </ng-container>

            <ng-container *ngIf="viewRouteExampleRecord">
              <h5 class="fw-bold mb-1">Информация о записи</h5>
              <div class="d-flex justify-content-between mb-2">
                <span class="text-muted">Статус записи:</span>
                <span class="fw-semibold text-primary">{{ getRecordStatus(viewRouteExampleRecord.status) }}</span>
              </div>
            </ng-container>
          </ng-container>

          <ng-template #noRoute>
            <div>Информация о маршруте не найдена</div>
          </ng-template>
        </div>

        <ng-container *ngIf="isAuth; else loginLink">
          <button *ngIf="!isBooked" class="btn btn-primary w-100 mt-4" (click)="book()" [disabled]="isButtonBookDisabled">
            Записаться на маршрут
          </button>
          <button *ngIf="isBooked && isPending" class="btn btn-primary w-100 mt-4" (click)="unBook()">Отписаться от маршрута</button>
        </ng-container>

        <ng-template #loginLink>
          <a [routerLink]="['/login']" class="btn btn-primary w-100 mt-4">
            Авторизуйтесь, чтобы записаться на маршрут
          </a>
        </ng-template>
      </div>
    </div>

    <div class="col-md-6">
      <div class="calendar-container p-4 bg-white rounded-4 shadow-sm border h-100">
        <app-calendar *ngIf="routeItem" (onSelectMonth)="onSelectMonth($event)"
                      (onInit)="onSelectMonth($event)"
                      (onSelectRouteExample)="handleSelectDay($event)"
                      [routeId]="routeItem?.id || 0"
                      [routeExamplesByMonth]="routeExamplesByMonth"
                      [maxSeats]="routeItem.maxCountPeople"
        ></app-calendar>
      </div>
    </div>
  </div>

  <!-- Карта -->
  <div #mapContainer class="map-container mb-4" style="height: 400px;">
    <app-map (onMapInitialize)="handleMapInitialize()" [routePoints]="cuePoints"  class="map"></app-map>
  </div>

  <hr class="my-4">

  <div *ngFor="let point of cuePoints" class="mb-4">
    <div class="d-flex align-items-stretch">
      <!-- Изображение слева -->
      <img *ngIf="point?.attachment?.uri"
           [src]="getImageUrl(point.attachment.uri)"
           alt="Картинка"
           class="me-3"
           style="width: 200px; height: 150px; object-fit: cover; border-radius: 8px;">

      <!-- Контент и кнопка -->
      <div class="flex-grow-1 d-flex flex-column justify-content-between">
        <!-- Текст -->
        <div>
          <h2 class="fw-semibold mb-1">{{ point.title }}</h2>
          <p class="text-muted mb-2">{{ point.description }}</p>
        </div>

        <!-- Кнопка снизу справа -->
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary btn-sm" (click)="handleViewOnMap(point.sortIndex)">Показать на карте</button>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
