<div *ngIf="routeCuePointItem" class="card mt-2">
  <app-admin-cue-point-card-header (onTabClick)="navBarStatus=$event"
                                   (onToggleExpand)="isExpanded=$event"
                                   (onMoveHigher)="onMoveHigher.emit()"
                                   (onMoveLower)="onMoveLower.emit()"></app-admin-cue-point-card-header>

  <div class="card-body" [ngSwitch]="navBarStatus">
    <div *ngSwitchCase="NavBarStatus.Info" [ngSwitch]="cuePointStatus" class="card-text">
      <h4 class="card-title">
        <ng-container *ngSwitchCase="CuePointStatus.None">{{ routeCuePointItem.title }}</ng-container>
        <input *ngSwitchCase="CuePointStatus.Editing" class="form-control heading-input"
               [(ngModel)]="routeCuePointItem.title">
      </h4>
      <ng-container *ngIf="isExpanded">
        <h5 class="card-subtitle mb-2 text-muted">Описание ключевой точки</h5>
        <div class="card-text">
          <p *ngSwitchCase="CuePointStatus.None" class="card-text">{{ routeCuePointItem.description }}</p>
          <textarea *ngSwitchCase="CuePointStatus.Editing" [(ngModel)]="routeCuePointItem.description"
                    class="form-control"></textarea>
        </div>
      </ng-container>
    </div>

    <div class="card-text">
      <div *ngSwitchCase="NavBarStatus.Address" class="card-text">
        <h4 class="card-title">
          <ng-container
            *ngIf="cuePointStatus === CuePointStatus.None">{{ checkAddress() ? routeCuePointItem.address : "Точка на карте не выбрана" }}
          </ng-container>
          <input
            *ngIf="cuePointStatus !== CuePointStatus.None"
            class="form-control heading-input"
            [disabled]="true"
            [(ngModel)]="routeCuePointItem.address"
            (input)="onAddressInput($event)"
            (focus)="showSuggestions = true"
            (blur)="hideSuggestions()"
          >

          <div *ngIf="showSuggestions && addressSuggestions.length > 0" class="dropdown">
            <button *ngFor="let suggestion of addressSuggestions"
                    (mousedown)="selectAddress(suggestion)"
                    class="dropdown-item">
              {{ suggestion }}
            </button>
          </div>
        </h4>
      </div>
    </div>

    <div *ngSwitchCase="NavBarStatus.Image">
      <ng-container *ngIf="!routeCuePointItem?.attachment?.uri">
        <app-upload-image (fileSelected)="handleFileSelected($event)"></app-upload-image>
      </ng-container>
      <ng-container *ngIf="routeCuePointItem?.attachment?.uri">
        <img *ngIf="routeCuePointItem?.attachment?.uri" [src]="getImageUrl(routeCuePointItem.attachment?.uri)"
             alt="Изображение не загружено"
             style="max-width: 100%; max-height: 80vh; height: auto; width: auto; object-fit: contain;">
      </ng-container>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between flex-row">
    <div class="btn-group btn-group-sm">
      <button [ngSwitch]="cuePointStatus" class="btn btn-sm btn-primary"
              (click)="toggleEditCuePoint()">
        <ng-container *ngSwitchCase="CuePointStatus.None">Изменить</ng-container>
        <ng-container *ngSwitchCase="CuePointStatus.Editing">Сохранить</ng-container>
      </button>

      <button class="btn btn-sm btn-danger" (click)="handleDelete()">
        <i class="bi bi-trash"></i>
      </button>

      <!--      <button *ngSwitchCase="NavBarStatus.Address"
                    (click)="toggleEditAddress()"
                    class="btn btn-primary">
              <ng-container *ngIf="addressStatus === AddressStatus.None">Изменить</ng-container>
              <ng-container *ngIf="addressStatus !== AddressStatus.None">Сохранить
                <div *ngIf="addressStatus === AddressStatus.Saving"
                     class="spinner-border text-white spinner-border-sm ms-2" role="status">
                  <span class="visually-hidden">Загрузка</span>
                </div>
              </ng-container>
            </button>-->
    </div>
    <div class="d-flex flex-row align-items-center">
      <div class="tooltip-container"
           *ngIf="!(routeCuePointItem.latitude && routeCuePointItem.longitude && routeCuePointItem.address && !isNullOrEmpty(routeCuePointItem.title))">
        <i class="bi bi-exclamation-circle text-danger"></i>
        <span class="tooltip-text">
      <div *ngIf="!routeCuePointItem.address">Адрес не указан</div>
      <div *ngIf="isNullOrEmpty(routeCuePointItem.title)">Название не указано</div>
    </span>
      </div>
    </div>
  </div>
</div>
